<header
  class="lg:sticky lg:top-0 lg:bottom-0 lg:flex pt-8 lg:max-h-screen lg:flex-col lg:justify-content-between"
>
  <div class="px-2">
    <h1 class="lg:text-6xl sm:text-6xl p-0 m-0 flex-wrap">
      <strong>Joanna Sokołowska</strong>
    </h1>
    <h2 class="lg:text-lg">Fullstack Engineer</h2>
    <p class="mt-4 max-w-xs line-height-3 text-base">
      I focus on building reliable, scalable backend systems while also handling
      frontend integration when needed, delivering end-to-end solutions.
    </p>
    <nav class="hidden lg:block">
      <ul class="list-none pl-0 py-8 m-0">
        @for (item of navItems; track $index) {
        <li class="py-3">
          <app-nav-item [title]="item"></app-nav-item>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
