<div>
  <p>
    I am a dedicated Fullstack Developer with a strong specialization in Java
    and Angular, driven by a passion for building scalable, high-performing
    applications. My experience spans across both backend and frontend
    development, allowing me to deliver seamless, integrated solutions that not
    only meet but exceed user expectations.
  </p>

  <p>
    With a keen eye for clean code and a focus on optimizing performance, I
    thrive in environments that challenge me to solve complex problems. My
    hands-on experience in both monolithic and microservice architectures,
    coupled with a deep understanding of RESTful API development, enables me to
    build robust and flexible systems. I continuously seek out opportunities to
    expand my knowledge, staying ahead of the latest industry trends and best
    practices. Whether enhancing existing systems or architecting new features,
    my goal is always to deliver reliable, efficient, and maintainable software
    solutions.
  </p>
</div>
