<app-section-header [sectionName]="sectionName()" />
<p>
  Back when I was a Process Engineer, managing projects and designing systems, I
  discovered my passion for coding. That curiosity led me to software
  development, where I now focus on creating
  <strong>backend systems</strong> using <strong>Java</strong> and
  <strong>Kotlin</strong> that are scalable and maintainable, with a strong
  foundation in <strong>best practices</strong>.
</p>
<p>
  I’m also capable of handling <strong>frontend work</strong> with
  <strong>Angular</strong> when needed, but my heart lies in
  <strong>backend architecture</strong> and <strong>team collaboration</strong>.
  My approach is simple: with the right mindset and teamwork, anything can be
  built. I continue to learn, driven by a love for solving complex challenges
  and delivering <strong>efficient, user-centered solutions</strong>.
</p>
<p>
  Outside of coding, I enjoy reading books on self-development, psychology, and
  the power of the human mind. You might also find me cycling, swimming, or
  simply spending time with my family, always eager to learn and grow.
</p>
