.nav-indicator {
    width: 8.3333%;
    border: 0.5px solid;
    display:inline-block;
  }

a:hover .nav-indicator,
a:focus .nav-indicator {
    border: 0.5px solid;
    display:inline-block;
    width: 16.6667%;
  }

  .bold-text {
    font-family: 'Inter Bold', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;

}
a:link, a:visited, a:hover, a:active { 
  text-decoration: none; 
  color: inherit; 
} 
