<div class="flex justify-content-center">
  <div class="container mx-auto min-h-screen px-6 py-7 md:py-8 lg:py-0">
    <div class="lg:flex lg:justify-content-between lg:gap-4 lg:bg-blue-900">
      <app-header class="lg:w-6" [navItems]="navItems"></app-header>
      <main class="lg:w-6">
        <section
          id="about"
          appSectionHighlight="about"
          class="pt-8 line-height-3 p-2"
        >
          <app-about class="text-base" [sectionName]="navItems[0]" />
        </section>
        <section
          id="experience"
          appSectionHighlight="experience"
          class="pt-8 line-height-3 p-2"
        >
          <app-experience [sectionName]="navItems[1]" />
        </section>
        <section
          id="projects"
          appSectionHighlight="projects"
          class="pt-8 line-height-3 p-2"
        >
          <app-projects [sectionName]="navItems[2]" />
        </section>
        <section
          id="blog"
          appSectionHighlight="blog"
          class="mt-8 line-height-3 p-2"
        >
          <app-blog-posts [sectionName]="navItems[3]" />
        </section>
        <footer class="lg:pb-8 px-4 text-sm text-slate-500">
          <p>
            © 2025 Joanna Sokołowska. Built with Angular, PrimeNG, and
            PrimeFlex. Design inspired by
            <a
              href="https://brittanychiang.com/"
              target="_blank"
              rel="noopener noreferrer"
              >Brittany Chiang</a
            >.
          </p>
        </footer>
      </main>
    </div>
  </div>
</div>
