<div class="m-auto min-h-screen w-10">
  <div class="lg:flex lg:justify-content-between lg:gap-4 lg:bg-blue-900">
    <header
      class="lg:sticky lg:top-0 lg:flex lg:py-8 lg:max-h-screen lg:w-6 lg:flex-col lg:justify-content-between"
    >
      <div class="pr-4">
        <h1 style="color: #1e2a5e" class="lg:text-5xl sm:text-4xl p-0 m-0 flex-wrap">
          <strong>Joanna Sokołowska</strong> 
        </h1>
        <h2 style="color: #1e2a5e" class="lg:text-xl">Fullstack Engineer</h2>
        <p class="mt-4 max-w-xs line-height-3">
          I focus on building reliable, scalable backend systems while also
          handling frontend integration when needed, delivering end-to-end
          solutions.
        </p>
      </div>
    </header>
    <main class="lg:w-6 lg:py-8">
      <app-about id="about" class="py-8" />
      <app-experience id="experience" />
      <!-- <section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"></section>
    <section id="experience" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"></section> -->
      <section id="projects"><app-projects /></section>
      <section id="blog-posts"><app-blog-posts /></section>
      <section id="contact"><app-contact /></section>
    </main>
  </div>
</div>
